/* line 3 */
body {
  color: #272822;
  background-color: #EEEEEE;
  font-family: "Lato", sans-serif;
}

/* line 9 */
#sidebar {
  background: url("../img/stressed_linen/stressed_linen.png") repeat;
  position: fixed;
  left: 0;
  bottom: 0;
  right: auto;
  top: 0;
  width: 22%;
  min-width: 200px;
  padding-left: 8px;
  padding-right: 8px;
  min-height: 450px;
  color: #EEEEEE;
}
/* line 22 */
#sidebar a {
  color: #EEEEEE;
  text-decoration: none;
}

/* line 28 */
#site-title {
  font-family: "Oswald", sans-serif;
  font-size: 1.5em;
  text-align: center;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 34 */
#site-title:hover {
  color: #38C5C5;
}

/* line 39 */
#site-desc {
  font-size: 1.3em;
  padding: 0 6px;
}

/* line 44 */
#post-container {
  position: relative;
  margin-left: 27%;
  max-width: 800px;
  overflow-wrap: break-word;
}

/* line 51 */
#nav-links {
  list-style: none;
  padding: 0;
  font-family: "Oswald", sans-serif;
  font-size: 1em;
  font-variant: bold;
}
/* line 57 */
#nav-links li {
  margin: 12px 12px;
  text-align: center;
}
/* line 61 */
#nav-links a {
  display: inline-block;
  line-height: 1.8em;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 66 */
#nav-links a:hover {
  border-color: #38C5C5;
  color: #38C5C5;
}

/* line 73 */
#post-list {
  list-style: none;
}

/* line 77 */
.post-entry {
  margin: 3em 0;
}

/* line 81 */
.entry-header {
  font-family: "Oswald", sans-serif;
  font-variant: bold;
}
/* line 84 */
.entry-header a {
  color: #272822;
  text-decoration: none;
}
/* line 88 */
.entry-header a:hover {
  color: #38C5C5;
  text-decoration: none;
}
/* line 92 */
.entry-header time {
  color: #8E927E;
}
/* line 95 */
.entry-header h1 {
  margin: 0.5em 0;
}

/* line 102 */
.post-content p {
  text-align: justify;
}
/* line 105 */
.post-content a {
  color: #38C5C5;
}
/* line 108 */
.post-content img {
  display: block;
  margin: 0 auto;
  max-width: 80%;
}
/* line 113 */
.post-content blockquote {
  font-style: italic;
}
/* line 116 */
.post-content pre {
  font-size: 13px;
  background-color: #E6E6E6;
  padding: 10px;
  margin: 10px;
  overflow: auto;
  font-family: "Ubuntu Mono", "Inconsolata", monospace;
}

/* line 127 */
.post-meta a {
  font-style: italic;
  color: #38C5C5;
}

/* line 133 */
.paginator {
  text-align: center;
  padding: 12px;
  font-size: 1.4em;
  font-family: "Oswald", sans-serif;
}
/* line 138 */
.paginator a {
  color: #272822;
  text-decoration: none;
}
/* line 141 */
.paginator a:hover {
  color: #38C5C5;
}

/* line 147 */
.tagcloud {
  padding: 0px;
  width: 70%;
  margin: auto;
  text-align: center;
}

/* display the individual items next to each other, not one-per-line */
/* line 155 */
.tagcloud li {
  display: inline;
  padding: 5px;
}

/* line 160 */
.tagcloud li:hover {
  font-weight: bold;
  background-color: #38C5C5;
  border-radius: 5px;
  padding: 5px;
}

/* line 167 */
.tagcloud li:hover a {
  color: #EEEEEE;
}

/* size is purely presentational, based upon the class */
/* line 172 */
.tagcloud .tag-1 {
  font-size: 1.2em;
}

/* line 173 */
.tagcloud .tag-2 {
  font-size: 1.5em;
}

/* line 174 */
.tagcloud .tag-3 {
  font-size: 1.7em;
}

/* line 175 */
.tagcloud .tag-4 {
  font-size: 2.1em;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (max-width: 800px) {
  /* Style adjustments for viewports that meet the condition */
  /* line 185 */
  #sidebar {
    position: static;
    width: 100%;
    padding: 0;
    min-height: 0px;
  }

  /* line 192 */
  #post-container {
    width: 100%;
    position: static;
    margin: 0;
    padding: 0px;
  }

  /* line 199 */
  #post-list {
    padding: 0;
  }

  /* line 203 */
  #nav-links {
    text-align: center;
    padding: 0;
    font-size: 1.8em;
  }
  /* line 207 */
  #nav-links li {
    display: inline;
    margin-top: 6px;
  }
  /* line 211 */
  #nav-links a {
    display: inline-block;
  }

  /* line 216 */
  #site-title h1 {
    margin-top: 0;
  }

  /* line 220 */
  #site-header {
    margin-left: 18px;
  }

  /* line 224 */
  .side-shadow {
    -webkit-box-shadow: 0 3px 12px 3px #8E927E;
    -moz-box-shadow: 0 3px 12px 3px #8E927E;
    box-shadow: 0 3px 12px 3px #8E927E;
  }

  /* line 230 */
  .post-entry {
    padding: 0 12px;
  }

  /* line 234 */
  #site-info {
    position: relative;
  }

  /* line 238 */
  .tagcloud {
    padding: 0px;
  }
}
@media only screen and (max-width: 640px) {
  /* line 244 */
  #nav-links {
    font-size: 1.1em;
  }

  /* line 247 */
  #site-desc {
    font-size: 1em;
  }

  /* line 250 */
  #site-title h1 {
    font-size: 1.3em;
    margin: 0.1em 0px;
  }

  /* line 254 */
  #site-info {
    font-size: 0.6em;
  }
}
