{% extends "base.html" %}

{% block title %}
    {{ article.title|striptags }}
{% endblock title %}

{% block stylesheets %}
    {{ super() }}
    {% assets filters="scss", output="css/blog.css", "css/sass/blog.scss" %}
        <link rel="stylesheet" href="{{ SITEURL }}/{{ ASSET_URL }}">
    {% endassets %}
    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/github.css">
{% endblock stylesheets %}

{% block content %}
    {% include "sidebar.html" %}

    <div id="post-container">
        <ol id="post-list">
            <li>
                <article class="post-entry">
                    <header class="entry-header">
                        <h3></h3>
                        <time class="post-time" datetime="{{ article.date.isoformat() }}" pubdate>
                            {{ article.locale_date }} <br>
                            por <a href="{{ SITEURL }}/pages/sobre.html">{{ article.author }}</a>
                        </time>
                        <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark"><h1>{{ article.title }}</h1></a>
                    </header>

                    <section class="post-content">
                        {{ article.content }}
                    </section>
                    <hr/>
                    <aside class="post-meta">
                        {% if article.category != 'misc' %}
                            <p>Category: <a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a></p>
                        {% endif %}
                        {% if article.tags %}
                            <p>
                                <a href="{{ SITEURL }}/{{ article.tags[0].url }}">{{ article.tags[0] }}</a>
                                {% for tag in article.tags[1:] %}
                                    , <a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>
                                {% endfor %}
                            </p>
                        {% endif %}
                    </aside>
                    <hr/>
                    {% if TWITTER_USERNAME %}
                        <a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-via="{{TWITTER_USERNAME}}">Tweet</a>
                        <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
                    {% endif %}
                    {% include "disqus.html" %}
                </article>
            </li>
        </ol>
    </div>
{% endblock content %}
